<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <FONT FACE="verdana" SIZE=6 COLOR="blue">REFORMAS A TU MANERA</FONT>

            <hr>
            <img class="card-img-top" src="../../../../assets/img/casa.jpg" alt="Card image cap">
            <br>
            <br>
        </div>
        <div class="col-sm-6">
            <br>
            <br>
            <hr>
            <br>
            <p>Podemos ajustar puertas, cambios de muebles</p>
            <p>Tenemos especialistas en el modelado de espacios en casa</p>
            <p>Remodelamos el suelo, las paredes, habitaciones enteras e inclusive podemos cambiarlo todo a tu manera</p>
            <p>Pintamos el piso con el acabado que prefieras, todo lo que pienses lo hacemos posible.</p>
            <p>Y un largo etcetera al cual nos podemos adecuar</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <br>
            <br>
            <hr>
            <br>
            <p>Tenemos especialistas que te pueden dar ídeas acerca de espacios y sus rellenos</p>
            <p>Podemos estructurar tu casa de la manera que se encuentra en tu imaginación</p>
            <p>Modelamos el suelo, las paredes, habitaciones enteras e inclusive podemos montar el suelo a tu manera</p>
            <p>Podemos darte ídeas acerca de los colores de tu casa asi como los colores del interior</p>
        </div>
        <div class="col-sm-6">
            <FONT FACE="verdana" SIZE=6 COLOR="blue">EMPEZAMOS DESDE CERO?</FONT>
            <hr>
            <img class="card-img-top" src="../../../../assets/img/plano.png" alt="Card image cap">
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 ">
                        <p>Lorem ipsum...</p>
                    </div>
                    <div class="col-sm-6 ">
                        <p>Sed ut perspiciatis...</p>
                        <img class="card-img-top" src="../../../../asset/img/manitacosa.png" alt="Card image cap">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 ">
                        <p>Lorem ipsum...</p>
                    </div>
                    <div class="col-sm-6 ">
                        <p>Sed ut perspiciatis...</p>
                    </div>
                </div>
            </div>