<div class="container">
    <div class="row">
        <div class="col-sm-6 ">
            <p>Lorem ipsum...</p>
        </div>
        <div class="col-sm-6 ">
            <p>Sed ut perspiciatis...</p>
            <img class="card-img-top" src="../../../../asset/img/manitacosa.png" alt="Card image cap">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <p>Lorem ipsum...</p>
        </div>
        <div class="col-sm-6 ">
            <p>Sed ut perspiciatis...</p>
        </div>
    </div>
</div>