<div class="container animated fadeIn">

    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2 class="texto-tarjetas">Reformas Integrales</h2>
                <p>Realizamos la reforma integral de tu vivienda o local en Madrid. Estudiaremos la obra para ofrecerte la solución más rápida y económica, desde la idea inicial hasta el resultado final.</p>
                <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2 class="texto-tarjetas">Reforma de cocina</h2>
                <p>Estudiamos el proyecto y te planteamos diferentes soluciones. Disfrutarás de una nueva cocina en tiempo record.</p>
                <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="../../../assets/img/descarga (1).jpeg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2 class="texto-tarjetas">Reformas de baño</h2>
                <p>Estudiamos el proyecto y te planteamos diferentes soluciones. Disfrutarás de un nuevo baño en tiempo record.</p>
                <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <p>Hacemos un trabajo bien hecho, con especial cuidado con los acabados, a buenos precios. Nos encargamos de instalar calefacción y radiadores, pintura, albañilería, carpintería, fontanería y mantenimiento de comunidades. Si busca especialistas en
            realizar reformas económicas.... No dudes en ponerte en contacto con nosotros</p>

        <br>

        <app-template></app-template>
    </div>