<div class="row">
    <div class="col-md-12">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <h2>Lavadora al mejor precio</h2>
    <p>
    <li>Lavavajillas libre instalacion</li>
    <li>Color Blanco - Clase energetica A+</li>
    <li>Ancho 45 cm - Capacidad: 9 servicios</li>
    <li>Panel de mandos electronico</li>
    <li>Cuatro programas de lavado</li>
    <li>Tres temperaturas de lavado (45º/60º/65º)</li>
    <li>Cubeta de detergente deslizante</li>      
    <li>Funcion media carga</li>
    <li>Programa rapido 30</li>
    <li>Programa ECO</li>
    <li>Cesta superior regulable en altura</li>
    </p>
    <img class="rsImg rsMainSlideImage" src="https://www.cemevisa.com/files/articulos/mini/A0002270C.jpg" style="visibility: visible; opacity: 1; transition: opacity 400ms ease-in-out 0s; width: 327px; height: 327px; margin-left: 150px; margin-top: 3px;">
    <div class="carousel-caption"> 
           
    </div>
  </div>
  <div class="carousel-item">
        <h2>Lavavajilla al mejor precio</h2>
        <p>
                <li>Lavavajillas libre instalacion</li>
                <li>Color Blanco - Clase energetica A+</li>
                <li>Ancho 45 cm - Capacidad: 9 servicios</li>
                <li>Panel de mandos electronico</li>
                <li>Cuatro programas de lavado</li>
                <li>Tres temperaturas de lavado (45º/60º/65º)</li>
                <li>Cubeta de detergente deslizante</li>      
                <li>Funcion media carga</li>
                <li>Programa rapido 30</li>
                <li>Programa ECO</li>
                <li>Cesta superior regulable en altura</li>
                </p>
    <img class="rsImg rsMainSlideImage" src="https://www.cemevisa.com/files/articulos/mini/A0003270K.jpg" style="visibility: visible; opacity: 1; transition: opacity 400ms ease-in-out 0s; width: 327px; height: 327px; margin-left: 150px; margin-top: 3px;">
    <div class="carousel-caption">
    </div>
  </div>
  <div class="carousel-item">
    <h3>Lavadora Potente</h3>
    <p>
            <li>Lavavajillas libre instalacion</li>
            <li>Color Blanco - Clase energetica A+</li>
            <li>Ancho 45 cm - Capacidad: 9 servicios</li>
            <li>Panel de mandos electronico</li>
            <li>Cuatro programas de lavado</li>
            <li>Tres temperaturas de lavado (45º/60º/65º)</li>
            <li>Cubeta de detergente deslizante</li>      
            <li>Funcion media carga</li>
            <li>Programa rapido 30</li>
            <li>Programa ECO</li>
            <li>Cesta superior regulable en altura</li>
            </p>
    <img class="rsImg rsMainSlideImage" src="https://www.cemevisa.com/files/articulos/mini/A0002270C.jpg" style="visibility: visible; opacity: 1; transition: opacity 400ms ease-in-out 0s; width: 327px; height: 327px; margin-left: 150px; margin-top: 3px;">
    <div class="carousel-caption">
      
    </div>
  </div>
  <div class="carousel-item">
        <h3>Lavadora Potente</h3>
        <p>
                <li>Lavavajillas libre instalacion</li>
                <li>Color Blanco - Clase energetica A+</li>
                <li>Ancho 45 cm - Capacidad: 9 servicios</li>
                <li>Panel de mandos electronico</li>
                <li>Cuatro programas de lavado</li>
                <li>Tres temperaturas de lavado (45º/60º/65º)</li>
                <li>Cubeta de detergente deslizante</li>      
                <li>Funcion media carga</li>
                <li>Programa rapido 30</li>
                <li>Programa ECO</li>
                <li>Cesta superior regulable en altura</li>
                </p>
    <img class="rsImg rsMainSlideImage" src="https://www.cemevisa.com/files/articulos/mini/A0002270C.jpg" style="visibility: visible; opacity: 1; transition: opacity 400ms ease-in-out 0s; width: 327px; height: 327px; margin-left: 150px; margin-top: 3px;">
    <div class="carousel-caption">
       </div>
  </div>
  <div class="carousel-item">
        <h3>Lavadora Potente</h3>
        <p>
                <li>Lavavajillas libre instalacion</li>
                <li>Color Blanco - Clase energetica A+</li>
                <li>Ancho 45 cm - Capacidad: 9 servicios</li>
                <li>Panel de mandos electronico</li>
                <li>Cuatro programas de lavado</li>
                <li>Tres temperaturas de lavado (45º/60º/65º)</li>
                <li>Cubeta de detergente deslizante</li>      
                <li>Funcion media carga</li>
                <li>Programa rapido 30</li>
                <li>Programa ECO</li>
                <li>Cesta superior regulable en altura</li>
                </p>
    <img class="rsImg rsMainSlideImage" src="https://www.cemevisa.com/files/articulos/mini/A0002270C.jpg" style="visibility: visible; opacity: 1; transition: opacity 400ms ease-in-out 0s; width: 327px; height: 327px; margin-left: 150px; margin-top: 3px;">
    <div class="carousel-caption">
        </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
    </div>

  </div>