<div class="container-fluid animated fadeIn fast">

    <div class="row" id="box-search">
        <div class="thumbnail  text-center">
            <img class="rounded" src="../../../assets/img/79455600-vista-panorámica-de-madrid.jpg" alt="Plano aereo de Madrid">
            <div class="caption texto-borde">
                <h3>Tus Soluciones en C. de Madrid</h3>
                <p id="titulo"><b>Manitas, Obras y Reformas</b></p>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid" id="espacio">
        <h5 class="text-center">Somos un equipo profesional que contamos con mas de 10 años</h5>
        <p class="text-center"> Trabajamos por toda la Comunidad de Madrid</p>
    </div>

    <div class="row">
        <div class="col-md-4">

            <!-- Card -->
            <div class="card" id="tarjeta">

                <!-- Card image -->
                <img class="card-img-top" src="../../../assets/img/fontaneria.jpg" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><a>Realizamos todo tipo de Fontaneria</a></h4>
                    <!-- Text -->
                    <p class="card-text" id="texto-tarjeta">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="middle">
                    <a class="text" [routerLink]="['fontaneria']">Fontaneria</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <!-- Card -->
            <div class="card" id="tarjeta">

                <!-- Card image -->
                <img class="card-img-top" src="../../../assets/img/electricista.jpg" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><a>Instalaciones Eléctricas</a></h4>
                    <!-- Text -->
                    <p class="card-text" id="texto-tarjeta">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="middle">
                    <a class="text" [routerLink]="['electricista']">Electricista</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <!-- Card -->
            <div class="card" id="tarjeta">

                <!-- Card image -->
                <img class="card-img-top" src="../../../assets/img/gas.jpg" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><a>Gas</a></h4>
                    <!-- Text -->
                    <p class="card-text" id="texto-tarjeta">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="middle">
                    <a class="text" [routerLink]="['gas']">Gas</a>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="col-md-4">
        <div class="container">
            <img id="tarjeta" src="../../../assets/img/electricista.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <a class="text" [routerLink]="['electricidad']">Electricidad</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <img id="tarjeta" src="../../../assets/img/gas.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <a class="text" [routerLink]="['gas']">Gas</a>
            </div>
        </div>
    </div>-->
</div>