p {
    color: rgb(67, 139, 161);
    font-weight: bolder;
}

a {
    color: rgb(67, 139, 161);
    font-weight: bolder;
    text-align: center;
}

img {
    width: 20%;
}
footer{
    background-color: white;
    height: min-content;
}