<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase text-center font-weight-bold">Tus soluciones</h5>
                <p class="text-center">Obras y Reformas</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

                <!-- Content -->
                <h5 class="text-uppercase text-center font-weight-bold">Escribenos a:</h5>
                <p class="text-center"><a class="text-center correo" href="mailto:tusolucionesobrasyreformas@gmail.com">tusolucionesobrasyreformas@gmail.com</a></p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 subfooter">© 2019 Copyright:
        <a href="http://videaweb.com/"><img src="../../assets/img/Logo VideaWeb.png" alt="Logo VideaWeb" height="30" width="30"></a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->